RewriteEngine on


# Remove ".php"
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Error redirect
ErrorDocument 404 /smallmart/website/error
ErrorDocument 500 /smallmart/website/error
ErrorDocument 403 /smallmart/website/error
ErrorDocument 400 /smallmart/website/error
ErrorDocument 401 /smallmart/website/error