/* Home header */
header .content {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: fit-content;
    max-width: 650px;
    height: 100%;

    margin: 0 auto;
    padding: 20px;

    background-color: var(--web-tone-2);

    border-radius: 10px;

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    text-align: center;

    box-sizing: border-box;
}

header .content p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 0;

    color: var(--text-light);
    font-size: 36px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

header .content a {
    display: block;

    width: fit-content;

    padding: 5px 20px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 5px 0px var(--web-shadow-4);

    color: var(--text-dark);
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-sizing: border-box;

    user-select: none;

    cursor: pointer;
}

header.home {
    display: block;

    padding: 15px 15px 85px 15px;
}

/* Home rows */
main.rows {
    display: flex;
    flex-flow: column;
    gap: 2px;
}

.row {
    position: relative;

    width: 100%;
    height: fit-content;

    padding: 7px 9px 50px 9px;

    background-color: var(--web-tone-3);

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: 0px 2px 0px var(--web-shadow-3);

    box-sizing: border-box;
}

.row:last-child {
    box-shadow: none;

    padding-bottom: 27px;
}

.row .container {
    position: relative;

    width: var(--main-content-width);
    max-width: 100%;

    margin: 0 auto;
}

.row .row-title {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 6px;

    min-height: 33px;
    height: fit-content;

    margin: 0 0 5px 11px;

    color: var(--text-light);
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.row .row-title span:not(.material-symbols-outlined) {
    margin: auto 0;
}

.row .row-title .material-symbols-outlined {
    font-size: 32px;
}

/* 'View All' button */
.row .row-title a {
    margin-bottom: 5px;
    padding: 0 4px;

    background-color: var(--web-tone-2);

    border-radius: 5px;

    color: inherit;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    user-select: none;

    cursor: pointer;
}

/* Row products */
.row .products-container {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 9px;

    box-sizing: border-box;
}

/* Reviews row */
#reviews-row-container {
    display: grid;
    grid-template-columns: repeat(6, 186px);
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 9px;

    box-sizing: border-box;
}

#reviews-row-container .review {
    display: flex;
    flex-flow: column;

    min-height: 188px;

    padding: 5px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 4px 0px var(--web-shadow-4);

    color: var(--text-dark);

    box-sizing: border-box;
}

/* Review product name */
#reviews-row-container .review .product-name {
    width: fit-content;
    margin: 0 auto 3px auto;

    opacity: 75%;

    color: var(--text-dark);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;
}

/* Review title */
#reviews-row-container .review .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 2px;
}

#reviews-row-container .review .title h1 {
    margin: 0;

    font-size: 14px;
    font-weight: 400;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#reviews-row-container .review .title h2 {
    margin: 0;

    font-size: 14px;
    font-weight: 100;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Review star rating */
#reviews-row-container .review .rating {
    display: flex;
    align-items: center;

    margin: 1px 4px 0 4px;
}

#reviews-row-container .review .rating .star {
    height: 20px;
}


#reviews-row-container .review .rating .star span {
    font-size: 20px;
}

#reviews-row-container .review .rating p {
    margin: 0 0 0 2px;

    font-size: 12px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#reviews-row-container .review .rating p span {
    font-weight: 700;
}

/* Review text */
#reviews-row-container .review .review-text {
    flex: 1;

    margin: 0 2px;

    font-size: 14px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* User of review */
#reviews-row-container .review .user {
    margin: 0 2px -2px 2px;

    font-size: 14px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* 'Load more reviews' button */
#load-more-reviews {
    grid-area: auto / auto / auto / span 6;

    margin: 5px auto 0 auto;
    padding: 0px 5px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 5px 0px var(--web-shadow-2);
    
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 24px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
}

/* Collections row */
.row.collections {
    z-index: 1;

    /* height: 282px !important; */
    min-height: 282px;

    padding: 0;

    background-color: var(--web-tone-1);

    border-radius: 0;

    box-shadow: 0px 2px 0px var(--web-shadow-1);
}

.row.collections .container {
    display: flex;
    flex-flow: row;
    gap: 31px;

    top: -68px;

    /* min-height: 300px; */

    padding: 0 22px;

    box-sizing: border-box;
}

/* Collection */
.collections .collection {
    flex: 1;

    display: flex;
    flex-flow: column;
    /* gap: -5px; */

    width: 291px;
    /* height: fit-content; */
    min-height: 300px;

    margin: 0 0 -15px 0;
    padding: 0;

    background-color: transparent;
    border: none;

    user-select: none;

    cursor: pointer;
}

.collections .collection .image {
    flex: 0;

    width: 100%;
    height: 220px;
    min-height: 220px;

    background-color: var(--web-tone-5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.collections .collection .title {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    position: relative;

    width: 100%;
    height: 100%;

    margin-top: -5px;
    padding: 8px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 5px 0px var(--web-shadow-4);

    box-sizing: border-box;
}

.collections .collection h1 {
    width: 100%;

    margin: 0;

    color: var(--text-dark);
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.collections .collection a {
    position: relative;

    width: fit-content;
    /* height: 100%; */

    padding: 2px 10px;

    background-color: var(--web-tone-2);

    border-radius: 5px;

    box-shadow: 0px 2px 0px var(--web-shadow-2);

    color: var(--text-light);
    font-size: 24px;
    text-decoration: none;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Slide buttons for collections */
.collections .slide-buttons {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 11px;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 45px;

    pointer-events: none;
}

.collections .slide-buttons button {
    width: 18px;
    height: 18px;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 100%;
    outline: none;

    box-shadow: 0px 2px 0px var(--text-shadow-thin);

    box-sizing: border-box;

    cursor: pointer;
    pointer-events: visible;
}

.collections .slide-buttons button.selected {
    background-color: #ffffff;
}

/* Responsiveness */

/* Tablet */
@media screen and (max-width: 1280px) {
    /* Home header */
    header .content {
        padding: 24px;

        min-height: 100%;
        height: fit-content;
    }

    header .content p {
        font-size: 48px;
    }

    header.home {
        min-height: 300px;
        height: fit-content;
    }

    /* Collections row */
    .row.collections .container {
        gap: 22px;
    }
}

@media screen and (max-width: 1250px) {
    /* Row products */
    .row .products-container {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Reviews row */
    #reviews-row-container {
        grid-template-columns: repeat(5, 1fr);
    }

    /* 'Load more reviews' button */
    #load-more-reviews {
        grid-area: auto / auto / auto / span 5;
    }
}


@media screen and (max-width: 1100px) {
    /* Home header */
    header.home {
        padding-bottom: 15px;
    }

    /* Row products */
    .row .products-container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Reviews row */
    #reviews-row-container {
        grid-template-columns: repeat(4, 1fr);
    }

    /* 'Load more reviews' button */
    #load-more-reviews {
        grid-area: auto / auto / auto / span 4;
    }

    /* Collections row */
    .row.collections .container {
        top: 0px;

        min-height: 340px;

        padding: 15px 22px 45px 22px;

        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    /* Collection */
    .collections .collection {
        /* flex: 0; */

        gap: -5px;

        min-width: 500px;
        width: 500px;
        min-height: 280px;

        margin: 0 0 -15px 0;
        padding: 0;
    }

    .collections .collection .image {
        height: 190px;
        min-height: 190px;
    }

    .collections .collection .title {
        gap: 0px;

        height: initial
    }

    .collections .collection h1 {
        font-size: 32px;
    }

    .collections .collection a {
        position: relative;

        width: fit-content;
        /* height: 100%; */

        padding: 2px 5px;

        background-color: var(--web-tone-2);

        border-radius: 5px;

        box-shadow: 0px 2px 0px var(--web-shadow-2);

        color: var(--text-light);
        font-size: 32px;
        text-decoration: none;

        text-shadow: 0px 1px 0px var(--text-shadow-thin);
    }
    
    /* Scrollbar */
    .row.collections .container::-webkit-scrollbar {
        width: 0px;

        pointer-events: none;
    }

    .row.collections .container::-webkit-scrollbar-track {
        background: transparent;
    }

    .row.collections .container::-webkit-scrollbar-thumb {
        background: transparent;
    }
    
    /* Collections slide buttons */
    .collections .slide-buttons {
        display: flex;
    }
}

@media screen and (max-width: 900px) {
    /* Rows */
    .row:last-child {
        padding-bottom: 46px;
    }

    /* Row products */
    .row .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 24px;
    }

    .product {
        min-width: 300px;
        min-height: 300px;
    }

    .product .image-container {
        height: 222px;

        margin-bottom: -180px;
        padding: 6px;
    }

    .product .details {
        padding-top: 180px;
    }

    /* Product name */
    .product .details .title h1 {
        font-size: 22px;
    }

    /* Product price */
    .product .details .title h2 {
        display: flex;
        align-items: center;

        font-size: 18px;
    }
    
    /* Original price in discounted product */
    .product .details .title h2 span.og-price {
        bottom: 80%;

        font-size: 12px;
    }

    /* Discounted price */
    .product .details .title h2:has(span.og-price) {
        display: initial;

        top: 6px;
    }

    /* Product rating and favourite button */
    .product .details .rating p {
        font-size: 18px;
    }

    /* Stars */
    .product .details .rating span {
        font-size: 24px;
    }

    .product .details .bottom button.favourite {
        padding: 4px;

        border: none;

        box-shadow: 0px 3px 0px var(--web-shadow-2);

        font-size: 32px;
    }

    /* Reviews row */
    #reviews-row-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 28px;
    }

    #reviews-row-container .review {
        min-height: 100px;
    }

    /* Review text */
    #reviews-row-container .review .review-text {
        font-size: 15px;
    }

    /* 'Load more reviews' button */
    #load-more-reviews {
        grid-area: auto / auto / auto / span 3;

        padding: 0 10px;

        font-size: 34px;
    }
}
/* Mobile */
@media screen and (max-width: 700px) {
    /* Home header */
    header .content {
        padding: 24px;

        min-height: 100%;
        height: fit-content;
    }

    header .content p {
        font-size: 56px;
    }

    header .content a {
        font-size: 56px;
    }

    header.home {
        min-height: 300px;
        height: fit-content;
    }

    /* Rows */
    main.rows {
        gap: 3px;
    }

    .row {
        box-shadow: 0px 3px 0px var(--web-shadow-3);
    }

    .row .row-title {
        min-height: 43px;

        margin-bottom: 14px;

        font-size: 32px;
        text-shadow: 0px 3px 0px var(--text-shadow-thin);
    }

    .row .row-title .material-symbols-outlined {
        font-size: 40px;
    }

    /* 'View All' button */
    .row .row-title a {
        margin-bottom: 0px;
        padding: 0 6px 1px 6px;

        font-size: 34px;
    }

    /* Row products */
    .product {
        min-width: 200px;

        padding-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    /* Reviews row */
    #reviews-row-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 'Load more reviews' button */
    #load-more-reviews {
        grid-area: auto / auto / auto / span 2;

        padding: 0 10px;

        font-size: 34px;
    }
}

@media screen and (max-width: 400px) {
    /* Reviews row */
    #reviews-row-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 'Load more reviews' button */
    #load-more-reviews {
        grid-area: auto / auto / auto / span 1;

        padding: 0 10px;

        font-size: 34px;
    }
}

@media screen and (max-width: 500px) {
    /* Row products */
    .row .products-container {
        grid-template-columns: 1fr;
    }
}