/* Root variables */
:root {
    /* Dimensions */
    --nav-height: 50px;
    --main-content-width: 1304px;
    --footer-height: 131px;
    --header-height: 0px;


    /* Colours */
    /* Fill */
    --web-tone-1: #281745;
    --web-tone-2: #DC2F02;
    --web-tone-3: #E85D04;
    --web-tone-4: #FFBA08;
    --web-tone-5: #FFFFFF;
    --web-tone-6: #F48C06;

    /* Shadows */
    --web-shadow-1: #03071E;
    --web-shadow-2: #BA0600;
    --web-shadow-3: #DC2F02;
    --web-shadow-4: #DF9100;
    --web-shadow-5: #D3C9BB;

    /* Text */
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --text-discount: #266198;

    --text-shadow-thin: rgba(0, 0, 0, 0.25);
    --text-shadow-thick: rgba(0, 0, 0, 0.5);
}

/* Everything */
* {
    /* Font */
    font-family: "Open Sans", sans-serif;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    position: relative;

    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-color: var(--web-tone-3);
}

/* Google Symbols */
.material-symbols-outlined {
    user-select: none;
}

/* Other classes */
.hidden {
    display: none !important;
}

.divider {
    width: 100%;
    min-height: 1px;
    max-height: 1px;

    background-color: var(--text-dark);

    border-radius: 10px;

    box-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.vertical-divider {
    height: 100%;
    min-width: 1px;
    width: 1px;

    background-color: var(--text-dark);

    border-radius: 10px;

    box-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - var(--footer-height) - var(--nav-height) - var(--header-height));
}

:has(.grid-spacer) .center-page {
    height: calc(100vh - var(--footer-height) - var(--nav-height) - var(--header-height) - 40px);
}

/* Navigation bar */
nav {
    z-index: 20;

    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 10px;

    position: sticky;
    top: 0;

    /* width: 100%; */
    max-width: 100%;
    height: 50px;

    padding: 0px 20px;

    background-color: var(--web-tone-1);

    box-shadow: 0px 4px 0px var(--web-shadow-1);
}

/* Nav items */
nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    min-width: max-content;
    height: 100%;

    color: var(--text-light);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 0px var(--text-shadow-thick);

    user-select: none;
    
    cursor: pointer;
}

nav a .material-symbols-outlined {
    font-size: 35px;
    font-weight: 300;
}

nav a.button {
    gap: 4px;
}

/* Nav logo */
nav a.logo {
    filter: drop-shadow(0px 2px 0px var(--text-shadow-thick));
}

nav a.logo img {
    height: 100%;
}

/* Nav search bar */
nav .search-bar {
    width: 100%;
    max-height: 100%;

    margin: 4px 0px;

    box-sizing: border-box;
}

nav .search-bar .container {
    overflow: hidden;

    position: relative;

    padding: 0 42px 0 15px;

    width: 100%;
    height: 100%;

    background-color: var(--web-tone-5);

    border-radius: 5px;

    box-shadow: 0px 2px 0px inset var(--web-shadow-5);

    box-sizing: border-box;
}

nav .search-bar .container input {
    display: block;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
    outline: none !important;

    color: var(--text-dark);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

nav .search-bar .container input::placeholder {
    color: var(--text-dark);
    opacity: 35%;
}

/* Search icon */
nav .search-bar .container button {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    aspect-ratio: 1;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
    outline: none;

    color: var(--text-dark);
    font-size: 33px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    user-select: none;

    cursor: pointer;
}

/* Nav dropdown menus */
/* Categories */
#categories-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 200px;

    padding: 14px 32px;

    background-color: var(--web-tone-2);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0px 2px 0px var(--web-shadow-2),
                0px 2px 0px inset var(--web-shadow-1);

    box-sizing: border-box;
}

#categories-dropdown .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px 40px;
    flex-wrap: wrap;
    
    width: fit-content;
    height: 100%;

    padding: 0 10px;

    box-sizing: border-box;
}

#categories-dropdown .categories a {
    gap: 5px;

    height: fit-content;

    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#categories-dropdown .categories a .material-symbols-outlined {
    font-size: 24px;
    font-weight: 300;
}

#categories-dropdown .key-categories {
    justify-content: center;
    gap: 5px;

    padding: 20px;

    background-color: var(--web-tone-3);

    border-radius: 8px;

    box-shadow: 0px 2px 0px inset var(--web-shadow-2);
}

#categories-dropdown .key-categories a {
    font-size: 24px;
    font-weight: bold;
}

#categories-dropdown .key-categories a .material-symbols-outlined {
    font-size: 28px;
    font-weight: 400;
}

/* More */
#more-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    position: absolute;
    top: 100%;

    width: 125px;

    padding: 6px 0;

    background-color: var(--web-tone-2);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0px 2px 0px var(--web-shadow-2),
                0px 2px 0px inset var(--web-shadow-1);
}

#more-dropdown a {
    width: fit-content;
    height: fit-content;

    font-size: 20px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Page header */
header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 330px;

    background-color: var(--web-tone-5);
    background-size: cover;
    background-position: center 38%;
    background-repeat: no-repeat;

    box-sizing: border-box;
}
:has(header) {
    --header-height: 330px;
}

header.small {
    height: 200px
}
:has(header.small) {
    --header-height: 200px;
}

header .bg-colour {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    opacity: 30%;
}

header h1.title {
    z-index: 1;

    width: fit-content;
    height: fit-content;
    min-height: 74px;

    margin: 0;
    padding: 0 14px;

    background-color: #F6F6F6;

    border-radius: 10px;

    box-shadow: 0px 5px 0px #C4C4C4;

    color: var(--text-dark);
    font-size: 96px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Home header */
header .content {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: fit-content;
    max-width: 650px;
    height: 100%;

    margin: 0 auto;
    padding: 20px;

    background-color: var(--web-tone-2);

    border-radius: 10px;

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    text-align: center;

    box-sizing: border-box;
}

header .content p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 0;

    color: var(--text-light);
    font-size: 36px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

header .content a {
    display: block;

    width: fit-content;

    padding: 5px 20px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 5px 0px var(--web-shadow-4);

    color: var(--text-dark);
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-sizing: border-box;

    user-select: none;

    cursor: pointer;
}

header.home {
    display: block;

    padding: 15px 0 85px 0;
}

/* Search header */
header.search {
    flex-direction: column;

    padding: 30px;

    min-height: 200px;
    height: fit-content;
}

header.search h1.title {
    font-size: 64px;
    text-align: center;
}

header.search h2.search-title {
    z-index: 1;

    width: fit-content;
    height: 60px;

    margin: 0;

    color: var(--text-light);
    font-size: 40px;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
    -webkit-text-stroke: 6px var(--text-dark);
    paint-order: stroke fill;
}

/* Footer */
footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;
    align-items: center;

    position: sticky;
    top: 100%;

    width: 100%;
    height: 131px;

    padding-top: 36px;

    background-color: var(--web-shadow-1);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: var(--text-light);

    box-sizing: border-box;
}

footer a {
    width: fit-content;
    height: fit-content;

    margin: 0;

    color: var(--text-light);
    font-size: 16px;
    text-decoration: none;
    text-align: center;

    cursor: pointer;
}

footer p {
    width: fit-content;
    height: fit-content;

    margin: 0;

    font-size: 11px;
    text-align: center;
}

#back-to-top {
    position: absolute;
    top: -5px;

    width: 100%;
    max-width: 1360px;
    height: 36px;

    margin: 0;
    padding: 0;

    background-color: var(--web-tone-2);

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    border: none;
    border-radius: 5px;

    color: var(--text-light);
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;
}

/* Hidden 'back-to-top' footer */
footer:has(#back-to-top.hidden) {
    height: 95px;

    padding-top: 0;
}

:has(footer #back-to-top.hidden) {
    --footer-height: 95px;
}

/* Main rows */
main {
    position: relative;
}

main.rows {
    display: flex;
    flex-flow: column;
    gap: 2px;
}

.row {
    position: relative;

    width: 100%;
    height: fit-content;

    padding: 7px 9px 50px 9px;

    background-color: var(--web-tone-3);

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: 0px 2px 0px var(--web-shadow-3);

    box-sizing: border-box;
}

.row:last-child {
    box-shadow: none;
}

.row .container {
    position: relative;

    width: var(--main-content-width);
    max-width: 100%;

    margin: 0 auto;
}

.row .row-title {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 6px;

    height: 33px;

    margin: 0 0 5px 11px;

    color: var(--text-light);
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.row .row-title .material-symbols-outlined {
    font-size: 32px;
}

/* 'View All' button */
.row .row-title a {
    margin-bottom: 5px;
    padding: 0 4px;

    background-color: var(--web-tone-2);

    border-radius: 5px;

    color: inherit;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    user-select: none;

    cursor: pointer;
}

/* Row products */
.row .products-container {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 9px;

    box-sizing: border-box;
}

.product {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;

    min-width: 230px;
    min-height: 250px;

    padding-top: 12px;

    box-sizing: border-box;

    cursor: pointer;
}

.product * {
    user-select: none;
}

.product .image-container {
    z-index: 1;

    height: 172px;

    margin: 0 12px -100px 12px;
    padding: 5px;

    background-color: var(--web-tone-5);
    
    border-radius: 3px;

    box-shadow: 0px 2px 0px var(--web-shadow-5);
}

.product .image-container .image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 3px;
}

.product .details {
    flex: 1;

    position: relative;

    min-height: 62px;

    padding-top: 100px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 5px 0px var(--web-shadow-4);

    /* box-sizing: border-box; */
}

/* Product name and price */
.product .details .title {
    display: flex;
    justify-content: space-between;

    margin: 5px 12px 0 12px;
}

/* Product name */
.product .details .title h1 {
    margin: 0 10px 0 0;

    font-size: 16px;
    font-weight: 700;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-sizing: border-box;
}

/* Product price */
.product .details .title h2 {
    z-index: 1;

    position: relative;

    margin: 0;

    font-size: 15px;
    font-weight: 400;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Original price in discounted product */
.product .details .title h2 span.og-price {
    z-index: -1;

    position: absolute;
    bottom: 75%;
    right: 80%;

    opacity: 50%;

    color: var(--text-dark);
    font-size: 10px;
}

.product .details .title h2 span.og-price::before {
    content: "";
    position: absolute;

    left: 0;
    top: 50%;
    bottom: 50%;

    transform-origin: center;
    transform: rotate(-20deg);

    background-color: var(--text-dark);

    width: 100%;
    height: 1px;
}

/* Discounted price */
.product .details .title h2:has(span.og-price) {
    top: 2px;

    color: var(--text-discount);
    font-weight: 700;
}

/* Discount in grid container */
.products-grid .product .details .title h2 span.og-price {
    font-size: 12px;
}

.products-grid .product .details .title h2:has(span.og-price) {
    top: 4px;
}

/* Product rating and favourite button */
.product .details .bottom {
    display: flex;
    justify-content: space-between;

    margin: 0 12px 9px 12px;

}

.product .details .rating {
    display: flex;
    align-items: center;
}

.product .details .rating p {
    margin: 0 0 0 4px;

    font-size: 15px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Stars */
.rating .star {
    position: relative;

    filter: drop-shadow(0px 1px 0px var(--text-shadow-thin));
}

.rating .star-fill {
    position: absolute;
    left: 0;
    top: 0;

    font-variation-settings: 'FILL' 1;
}

.product .details .rating span {
    font-size: 20px;
}

.product .details .bottom button.favourite {
    margin: 0;
    padding: 3px;
    
    background-color: var(--web-tone-2);

    border: none;
    border-radius: 5px;

    box-shadow: 0px 2px 0px var(--web-shadow-2);

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;
}

/* Reviews row */
.row .reviews-row-container {
    display: grid;
    grid-template-columns: repeat(6, 186px);
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 9px;

    box-sizing: border-box;
}

.row .reviews-row-container .review {
    display: flex;
    flex-flow: column;

    min-height: 188px;

    padding: 5px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 4px 0px var(--web-shadow-4);

    color: var(--text-dark);

    box-sizing: border-box;
}

/* Review product name */
.row .reviews-row-container .review .product-name {
    width: fit-content;
    margin: 0 auto 3px auto;

    opacity: 75%;

    color: var(--text-dark);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;
}

/* Review title */
.row .reviews-row-container .review .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 2px;
}

.row .reviews-row-container .review .title h1 {
    margin: 0;

    font-size: 14px;
    font-weight: 400;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.row .reviews-row-container .review .title h2 {
    margin: 0;

    font-size: 14px;
    font-weight: 100;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Review star rating */
.reviews-row-container .review .rating {
    display: flex;
    align-items: center;

    margin: 1px 4px 0 4px;
}

.reviews-row-container .review .rating .star {
    height: 20px;
}


.reviews-row-container .review .rating .star span {
    font-size: 20px;
}

.reviews-row-container .review .rating p {
    margin: 0 0 0 2px;

    font-size: 12px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.reviews-row-container .review .rating p span {
    font-weight: 700;
}

/* Review text */
.reviews-row-container .review .review-text {
    flex: 1;

    margin: 0 2px;

    font-size: 14px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* User of review */
.reviews-row-container .review .user {
    margin: 0 2px -2px 2px;

    font-size: 14px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Collections row */
.row.collections {
    z-index: 1;

    /* height: 282px !important; */
    min-height: 282px;

    padding: 0;

    background-color: var(--web-tone-1);

    border-radius: 0;

    box-shadow: 0px 2px 0px var(--web-shadow-1);
}

.row.collections .container {
    display: flex;
    flex-flow: row;
    gap: 31px;

    top: -68px;

    /* min-height: 300px; */

    padding: 0 22px;

    box-sizing: border-box;
}

/* Collection */
.collections .collection {
    flex: 1;

    display: flex;
    flex-flow: column;
    gap: -5px;

    width: 291px;
    /* height: fit-content; */
    min-height: 300px;

    margin: 0 0 -15px 0;
    padding: 0;

    background-color: transparent;
    border: none;

    user-select: none;

    cursor: pointer;
}

.collections .collection .image {
    flex: 0;

    width: 100%;
    height: 220px;
    min-height: 220px;

    background-color: var(--web-tone-5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.collections .collection .title {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    position: relative;

    width: 100%;
    height: 100%;

    margin-top: -5px;
    padding: 8px;

    background-color: var(--web-tone-4);

    border-radius: 5px;

    box-shadow: 0px 5px 0px var(--web-shadow-4);

    box-sizing: border-box;
}

.collections .collection h1 {
    width: 100%;

    margin: 0;

    color: var(--text-dark);
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.collections .collection a {
    position: relative;

    width: fit-content;
    /* height: 100%; */

    padding: 2px 10px;

    background-color: var(--web-tone-2);

    border-radius: 5px;

    box-shadow: 0px 2px 0px var(--web-shadow-2);

    color: var(--text-light);
    font-size: 24px;
    text-decoration: none;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Top bar directly beneath header */
.grid-spacer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    padding: 0 238px;

    background-color: var(--web-tone-1);

    box-shadow: 0px 2px 0px var(--web-shadow-1);

    color: var(--text-light);
    font-size: 16px;

    box-sizing: border-box;
}

/* Counters in spacer */
.grid-spacer .numbers {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* Sort by container */
.grid-spacer .sort-by {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

/* Products grid container */
.products-grid-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    margin: 40px 40px 20px 40px;
}

/* Products filters */
.products-grid-main .products-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 350px;
    height: fit-content;

    padding: 10px;

    background-color: var(--web-tone-6);

    border-radius: 10px;

    box-shadow: 0px 4px 0px inset var(--web-tone-2);
}

.products-grid-main .products-filters a {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    text-decoration: none;

    cursor: pointer;
}

.products-grid-main .products-filters a:has(.material-symbols-outlined) {
    font-weight: bold;
}

.products-grid-main .products-filters a .material-symbols-outlined {
    font-size: 30px;
}

.products-grid-main .products-filters a span:not(.material-symbols-outlined) {
    margin: 0 7px 0 5px;
}

.products-grid-main .products-filters .divider {
    background-color: var(--text-light);
}

/* Products grid */
.products-grid-main .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 34px 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    width: 1110px;

    box-sizing: border-box;
}
.products-grid-main .products-grid .product {
    min-width: 340px;
    min-height: 350px;

    padding-top: 12px;

    box-sizing: border-box;

    cursor: pointer;
}

.products-grid-main .products-grid .product .image-container {
    height: 260px;

    margin: 0 12px -188px 12px;
    padding: 7px;

    box-shadow: 0px 3px 0px var(--web-shadow-5);
}

.products-grid-main .products-grid .product .details {
    padding-top: 188px;
}

/* Product name and price */
.products-grid-main .products-grid .product .details .title h1 {
    font-size: 24px;
}

.products-grid-main .products-grid .product .details .title h2 {
    font-size: 20px;
}

/* Product rating and favourite button */
.products-grid-main .products-grid .product .details .rating p {
    font-size: 18px;
}

/* Stars */
.products-grid-main .products-grid .product .details .rating span {
    font-size: 24px;
}

.products-grid-main .products-grid .product .details .bottom button.favourite {
    font-size: 28.5px;
}

/* Bottom page counter */
.products-section .product-no {
    width: 100%;
    height: fit-content;
    text-align: center;

    margin: 25px 0 11px 0;

    color: var(--text-light);
    font-size: 16px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Pagination */
.products-section .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    width: 100%;
    height: 50px;

    padding: 7.5px;

    background-color: var(--web-tone-6);

    border-radius: 5px;

    box-shadow: 0px 2px 0px inset var(--web-tone-2);

    box-sizing: border-box;
}

.products-section .pagination a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1;

    background-color: var(--web-tone-3);

    border-radius: 5px;

    box-shadow: 0px 2px 0px var(--web-shadow-3);

    color: var(--text-light);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.products-section .pagination a.hidden {
    display: flex !important;

    opacity: 0%;

    pointer-events: none;
}

.products-section .pagination a.number:first-child {
    margin-left: auto;
}

.products-section .pagination a.number:last-child {
    margin-right: auto;
}

.products-section .pagination a.active {
    background-color: var(--web-tone-2);

    box-shadow: 0px 2px 0px var(--web-shadow-2);
}

.products-section .pagination a.direction {
    aspect-ratio: unset;

    width: 100px;

    padding: 0 17px;

    background-color: var(--web-tone-2);

    box-shadow: 0px 2px 0px var(--web-shadow-2);

    box-sizing: border-box;
}

.products-section .pagination a.direction.next {
    margin-left: auto;
}

.products-section .pagination a.direction.prev {
    margin-right: auto;
}

/* No queries for products */
.no-queries,
.error {
    flex-direction: column;
}

.no-queries p,
.error p {
    margin: 5px 0;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 24px;
    text-align: center;
}

.no-queries a,
.error a {
    margin: 10px 0;
    padding: 2px 8px;

    background-color: var(--web-tone-2);

    border-radius: 5px;

    color: var(--text-light);
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    text-align: center;

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    user-select: none;

    cursor: pointer;
}

/* Error page */
.error h1 {
    margin: 10px 0;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    text-align: center;
}

.error img {
    max-height: 100%;
    max-width: 100%;
}

/* Content container for information pages */
.content-container {
    padding: 15px; 

    background-color: var(--web-tone-6);
    box-shadow: 0px 6px 0px inset var(--web-tone-2);
    border-radius: 10px;
}

/* About page */
.about {
    color: var(--text-light);
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
}

.about .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 1460px;

    margin: 25px;
}

.about * {
    margin: 0;
}

.about a {
    width: fit-content;

    padding: 3px 8px;
    
    background-color: var(--web-tone-2);
    box-shadow: 0px 4px 0px var(--web-shadow-2);
    border-radius: 5px;

    color: var(--text-light);
    font-weight: bold;
    text-decoration: solid;

    cursor: pointer;
    user-select: none;
}

/* Contact page */
.contact .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 1460px;
    max-height: calc(100% - 50px);

    margin: 25px 25px;

    color: var(--text-light);
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
    font-size: 40px;
    text-align: center;

    box-sizing: border-box;
}

.contact * {
    margin: 0;
}

.contact h1 {
    font-size: 64px;
    font-weight: bold;
}

/* Google maps embed */
.contact iframe {
    padding: 5px;

    background-color: var(--web-tone-5);
    border-radius: 10px;

    box-shadow: 0px 3px 0px var(--web-shadow-5);

    box-sizing: border-box;
}

/* Product page */
.product-page {
    display: flex;
    flex-direction: column;

    padding: 56px 25px 25px 25px;
    padding-top: 56px;

    box-sizing: border-box;
}

.product-page .main-container {
    width: 100%;
    max-width: 1460px;

    margin: 0 auto;

    box-sizing: border-box;
}

.product-page .divider {
    height: 3px;
    max-height: 3px;

    margin: 33px 0;

    background-color: var(--text-light);
    box-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.product-page .container {
    display: flex;
    gap: 32px;
}

/* Product details */
.product-page .container .product-info {
    width: 500px;
    height: fit-content;
    
    padding: 15px;

    background-color: var(--web-tone-6);
    box-shadow: 0px 6px 0px inset var(--web-shadow-3);
    border-radius: 10px;

    color: var(--text-light);

    box-sizing: border-box;
}

/* Product name */
.product-page .product-info h1 {
    margin: 0 0 3px 0;
    font-size: 48px;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
}

/* Product star rating */
.product-page .product-info .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 12px;
}

.product-page .product-info .rating .star {
    filter: drop-shadow(0px 2px 0px var(--text-shadow-thin));
}

.product-page .product-info .rating .star * {
    font-size: 40px;
}

.product-page .product-info .rating p {
    margin: 0 0 0 10px;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Product price */
.product-page .product-info h2 {
    margin: 0;

    font-size: 32px;
    font-weight: normal;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Product variants */
.product-page .product-info .variants {
    margin: 15px 5px 20px 5px;
}

.product-page .product-info .variants h3 {
    margin: 0;

    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.product-page .product-info .variants .variants-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    position: relative;

    margin-top: 11px;
}

.product-page .product-info .variants .variants-grid a {
    position: relative;

    margin: 0;
    padding: 3px 6px;

    background-color: var(--web-tone-3);
    box-shadow: 0px 3px 0px var(--web-shadow-3);
    border: none;
    border-radius: 10px;

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    text-decoration: none;

    user-select: none;
    cursor: pointer;
}

.product-page .product-info .variants .variants-grid a.selected {
    top: 2px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 1px 0px var(--web-shadow-2);
}

/* Add to wishlist button */
.product-page .product-info .add-to-wishlist {
    display: flex;
    align-items: center;
    gap: 4px;

    height: 36px;

    margin-top: 10px;
    padding: 4px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 3px 0px var(--web-shadow-2);
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    user-select: none;
    cursor: pointer;
}

.product-page .product-info .add-to-wishlist .material-symbols-outlined {
    font-size: 28px;
}

/* Product info divider */
.product-page .product-info .divider {
    margin: 14px 0;
}

/* Product description */
.product-page .product-info p {
    margin: 0;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Product images */
.product-page .container .images {
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 32px;
}

.product-page .container .images button {
    margin: 0;
    padding: 10px;

    box-shadow: 0px 6px 0px var(--web-shadow-5);

    border: none;
    border-radius: 10px;

    user-select: none;
    cursor: pointer;
}

.product-page .container .images .main-image-container {
    max-height: 666px;

    grid-column: span 3;
}

.product-page .container .images .image-container {
    max-height: 240px;
}

.product-page .container .images .image {
    max-width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 8px;
}

/* Reviews */
#reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 15px;

    box-sizing: border-box;
}

#reviews h1.title {
    margin: 0;

    color: var(--text-light);
    font-size: 48px;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
}

/* Individual review */
#reviews .review {
    display: flex;
    flex-direction: column;

    padding: 15px;

    background-color: var(--web-tone-4);
    border-radius: 10px;

    color: var(--text-dark);
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    
    box-shadow: 0px 4px 0px var(--web-shadow-4);
    box-sizing: border-box;
}

/* Review title */
#reviews .review div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reviews .review div.title h1 {
    margin: 0;

    font-size: 40px;
}

/* Published date */
#reviews .review div.title h2 {
    margin: 0;

    font-size: 20px;
    font-weight: normal;
}

/* Review star rating */
#reviews .review .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 6px;

    text-shadow: none;
}

#reviews .review .rating .star {
    filter: drop-shadow(0px 2px 0px var(--text-shadow-thin));
}

#reviews .review .rating .star * {
    font-size: 35px;
}

#reviews .review .rating p {
    margin: 0 0 0 7px;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Review divider */
#reviews .review .divider {
    margin: 14px 0;

    background-color: var(--text-dark);
}

/* Review text */
#reviews .review .review-text {
    margin: 0 0 10px 0;

    font-size: 24px;
}

/* Reviewer */
#reviews .review .reviewer {
    margin: 0;

    font-size: 24px;
    font-weight: 700;
}

/* 'Load more reviews' button */
#load-more-reviews {
    margin: 0 auto;
    padding: 4px 10px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 5px 0px var(--web-shadow-2);
    
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
}

/* No reviews to show */
#no-reviews {
    width: 100%;

    margin: 0;
    padding: 10px 20px;

    background-color: var(--web-tone-4);
    box-shadow: 0px 4px 0px var(--web-shadow-4);
    border-radius: 10px;

    color: var(--text-dark);
    text-align: center;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    font-weight: normal;

    box-sizing: border-box;
}

/* Related products */
.related-products {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 7px;
}

.related-products .row-title {
    margin: 0 9px;

    color: var(--text-light);
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.related-products .products-container {
    display: grid;
    grid-auto-columns: 230px;
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 30px;

    box-sizing: border-box;
}

.related-products .products-container .product {
    grid-area: 1 / auto;
}

/* Product image viewer */
#image-viewer {
    z-index: 5;

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: var(--nav-height);
    
    width: 100%;
    height: calc(100vh - var(--nav-height));

    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(10px);
}

#image-viewer .close {
    display: flex;
    justify-content: flex-end;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

#image-viewer .close button {
    margin: 10px 10px 10px 10px;
    padding: 5px;

    width: fit-content;

    background-color: var(--web-tone-2);
    box-shadow: 0px 5px 0px var(--web-shadow-2);
    border: none;
    border-radius: 100%;
    
    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 50px;

    user-select: none;
    cursor: pointer;
}

/* Main image */
#viewer-main-image {
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100% - 180px - 80px);

    background-color: rgba(0, 0, 0, 0.8);

    /* overflow: hidden; */
}

#viewer-main-image img {

    max-width: 100%;
    max-height: 100%;

    cursor: zoom-in;

    transition: transform .2s ease-in-out;
}

/* Other images available to view */
#viewer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 180px;

    padding: 30px 0 25px 0;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    box-sizing: border-box;
}

/* Counter / scroll buttons */
#viewer-images .counter {
    position: absolute;
    top: 0;

    margin-top: 3px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#viewer-images .counter p {
    margin: 0;

    font-size: 20px;
}

/* Items */
#viewer-images button {
    aspect-ratio: 1;
    height: 100%;

    position: relative;

    margin: 0;
    padding: 5px;

    box-shadow: 0px 6px 0px var(--web-shadow-5);

    border: none;
    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}

#viewer-images button .image {
    max-width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;
}

#viewer-images button.selected {
    top: 4px;

    box-shadow: 0px 2px 0px var(--web-shadow-5);
}

/* Log in / sign up page */
main.log-in {
    flex-direction: column;
    gap: 12px;

    color: var(--text-light);
}

main.log-in .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    margin: 20px;
    padding: 15px;

    background-color: var(--web-tone-6);
    box-shadow: 0px 6px 0px inset var(--web-tone-2);
    border-radius: 10px;

    box-sizing: border-box;
}

/* Input form */
main.log-in .container form {
    display: grid;
    grid-template-columns: auto minmax(12px, 400px);
    gap: 12px 10px;
}

main.log-in .container label {
    width: 100%;
    min-width: max-content;

    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    font-size: 32px;
    font-weight: 700;
    text-align: right;
}

main.log-in .container div:has(input) {
    position: relative;
}

main.log-in .container input {
    width: 100%;
    height: 42px;

    padding: 6px;

    box-shadow: 0px 2px 0px inset var(--web-shadow-5);
    border: none !important;
    outline: none !important;
    border-radius: 5px;

    color: var(--text-dark);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-sizing: border-box;
}

main.log-in .container input::placeholder {
    color: var(--text-dark);
    opacity: 35%;
}

/* Visibility toggle */
main.log-in .container .visibility {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    aspect-ratio: 1;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;

    color: var(--text-dark);
    font-size: 33px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    word-wrap: normal;

    cursor: pointer;
}

main.log-in .container div:has(.visibility) input {
    padding-right: 42px;
}

/* Message */
main.log-in .container p {
    margin: 0;

    font-size: 20px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    text-align: center;
}

main.log-in .container p a {
    color: #1BBBFF;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

main.log-in .container p a:visited {
    color: #670edb;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

main.log-in .container p a:active {
    color: #116be2;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

/* Error message */
#error-message {
    color: var(--web-shadow-2);
}

/* Submit button */
main.log-in .container button[form] {
    margin: 0;
    padding: 3px 10px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 4px 0px var(--web-shadow-2);
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    box-sizing: border-box;

    user-select: none;
    cursor: pointer;
}

/* Log in / sign up title */
main.log-in h1 {
    margin: 20px 20px 0 20px;

    color: var(--text-light);
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
    font-size: 64px;
    text-align: center;

    box-sizing: border-box;
}

main.log-in:has(h1) .container {
    margin: 0 20px 20px 20px
}

/* User page */
main.user {
    display: flex;
    flex-direction: column;

    height: calc(100vh - var(--footer-height) - var(--nav-height));

    padding: 30px;

    box-sizing: border-box;
}

main.user .welcome {
    width: 100%;

    margin: 0;

    color: var(--text-light);
    font-size: 50px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);

    text-align: center;
}

main.user .divider {
    height: 2px;
    min-height: 2px;

    margin: 10px 0;
    
    background-color: var(--text-light);

    box-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Content */
main.user .container {
    display: flex;
    flex-direction: row;

    height: 100%;

    padding: 20px;

    box-sizing: border-box;
}

/* Account menus */
#tabs {
    display: flex;
    flex-direction: column;

    width: 150px;
}

#tabs button {
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;

    color: var(--text-light);
    font-size: 32px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    text-align: right;

    cursor: pointer;
    user-select: none;
}

#tabs button:hover {
    text-decoration: underline dotted;
}

#tabs button.selected {
    font-weight: 700;
    text-decoration: underline dashed;
}

#tabs button.selected:hover {
    text-decoration: underline;
}


/* Vertical divider between tabs and tab contents */
main.user .container .vertical-divider {
    min-width: 2px;
    height: 100%;

    margin: 0 20px;

    background-color: var(--text-light);

    color: var(--text-light);

    box-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Tab content */
main.user .container .tab-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;

    color: var(--text-light);
    font-size: 20px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Editable forms */
main.user .container .tab-content form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

main.user .container .tab-content form .buttons {
    flex: 1;
    
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main.user .container .tab-content form label {

    text-align: right;

    user-select: none;
}

main.user .container .tab-content form input {
    width: 500px;
    max-width: 100%;

    margin: 0;
    padding: 3px 5px;

    background-color: var(--web-tone-5);

    box-shadow: 0px 1px 0px inset var(--web-shadow-5);
    outline: none;
    border: none;
    border-radius: 5px;

    color: var(--text-dark);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 20px;
}

main.user .container .tab-content form *[disabled] {
    opacity: 50%;

    cursor: not-allowed;
}

/* Change button */
main.user .container .tab-content form button {
    margin: 0;
    padding: 3px 6px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 3px 0px var(--web-shadow-2);
    border: none;
    border-radius: 10px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 20px;
    font-weight: 700;

    user-select: none;
    cursor: pointer;
}

main.user .container .tab-content form button.submit {
    background-color: var(--web-tone-4);
    box-shadow: 0px 3px 0px var(--web-shadow-4);

    color: var(--text-dark);
}