/* Root variables */
:root {
    /* Dimensions */
    --nav-height: 50px;
    --main-content-width: 1304px;
    --footer-height: 131px;
    --header-height: 0px;


    /* Colours */
    /* Fill */
    --web-tone-1: #281745;
    --web-tone-2: #DC2F02;
    --web-tone-3: #E85D04;
    --web-tone-4: #FFBA08;
    --web-tone-5: #FFFFFF;
    --web-tone-6: #F48C06;

    /* Shadows */
    --web-shadow-1: #03071E;
    --web-shadow-2: #BA0600;
    --web-shadow-3: #DC2F02;
    --web-shadow-4: #DF9100;
    --web-shadow-5: #D3C9BB;

    /* Text */
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --text-discount: #266198;

    --text-shadow-thin: rgba(0, 0, 0, 0.25);
    --text-shadow-thick: rgba(0, 0, 0, 0.5);
}

/* Everything */
* {
    /* Font */
    font-family: "Open Sans", sans-serif;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    position: relative;

    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-color: var(--web-tone-3);
}

/* Google Symbols */
.material-symbols-outlined {
    user-select: none;
}

.material-symbols-outlined.filled {
    user-select: none;
    font-variation-settings: 'FILL' 1;
}

/* Other classes */
.hidden {
    display: none !important;
}

.divider {
    width: 100%;
    min-height: 1px;
    max-height: 1px;

    background-color: var(--text-dark);

    border-radius: 10px;

    box-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.vertical-divider {
    height: 100%;
    min-width: 1px;
    width: 1px;

    background-color: var(--text-dark);

    border-radius: 10px;

    box-shadow: 0px 1px 0px var(--text-shadow-thin);
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: calc(100vh - var(--footer-height) - var(--nav-height) - var(--header-height));
}

:has(.grid-spacer) .center-page {
    min-height: calc(100vh - var(--footer-height) - var(--nav-height) - var(--header-height) - 40px);
}

/* Navigation bar */
nav {
    z-index: 20;

    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 10px;

    position: sticky;
    top: 0;

    /* width: 100%; */
    max-width: 100%;
    height: var(--nav-height);

    padding: 0px 20px;

    background-color: var(--web-tone-1);

    box-shadow: 0px 4px 0px var(--web-shadow-1);
}

/* Nav items */
nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    min-width: max-content;
    height: var(--nav-header);

    color: var(--text-light);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 0px var(--text-shadow-thick);

    user-select: none;
    
    cursor: pointer;
}

nav a .material-symbols-outlined {
    font-size: 35px;
    font-weight: 300;
}

nav a.button {
    gap: 4px;
}

/* Nav burger button */
nav a.burger-button {
    display: none;

    font-size: 60px;
}

/* Nav burger menu */
#nav-burger-menu {
    z-index: 1;

    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);
}

#nav-burger-menu .container {
    width: 400px;
    max-width: 100%;
    height: 100%;
    min-height: 100%;

    padding-bottom: 16px;

    background-color: var(--web-tone-1);

    overflow-y: auto;

    box-sizing: border-box;
}

#nav-burger-menu .container .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;

    padding-left: 16px;

    color: var(--text-light);
    text-shadow: 0px 2px 0px var(--text-shadow-thick);

    background-color: var(--web-tone-1);
    box-shadow: 0px 2px 0px var(--web-shadow-1);

    box-sizing: border-box;

    user-select: none;
}

#nav-burger-menu .container .title h1 {
    margin: 0;
    font-size: 48px;
}

/* Close button */
#nav-burger-menu .container .title button {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background-color: transparent;

    color: var(--text-light);
    font-size: 60px;
    text-shadow: 0px 2px 0px var(--text-shadow-thick);

    cursor: pointer;
}

/* Menu items */
#nav-burger-menu .container .burger-contents {
    padding: 0 16px;

    box-sizing: border-box;
}

#nav-burger-menu .container .burger-contents a {
    justify-content: left;
    gap: 6px;

    min-width: 0;

    padding: 7.5px 0;

    font-size: 36px;
}

#nav-burger-menu .container .burger-contents a .material-symbols-outlined {
    margin-bottom: auto;

    font-size: 45px;
}

/* Dropdown menus */
#nav-burger-menu .container .burger-contents a.dropdown {
    justify-content: space-between;

    padding: 0;
}

#nav-burger-menu .container .burger-contents a.dropdown .material-symbols-outlined {
    font-size: 60px;
}

#nav-burger-menu .container .burger-contents .dropdown-menu {
    display: flex;
    flex-direction: column;

    padding-left: 36px;
}

#nav-burger-menu .container .burger-contents .dropdown-menu .categories:not(.key-categories) a {
    font-weight: normal;
}

#nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-categories-dropdown'],
#nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-categories-dropdown'] + .divider,
#nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-more-dropdown'],
#nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-more-dropdown'] + .divider,
#mobile-categories-dropdown,
#mobile-categories-dropdown + .divider,
#mobile-more-dropdown,
#mobile-more-dropdown + .divider {
    display: none;
}

/* Dividers */
#nav-burger-menu .container .burger-contents .divider {
    min-height: 2px;
    max-height: 2px;

    background-color: var(--text-light);

    box-shadow: 0px 2px 0px var(--text-shadow-thick);
}

#nav-burger-menu .container .burger-contents .hidden + .divider {
    display: none;
}

/* Nav logo */
nav a.logo {
    min-width: 200px;
    height: 50px;

    background-image: url('/smallmart/website/assets/brand/full-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(0px 2px 0px var(--text-shadow-thick));
}

nav a.logo img {
    width: 100%;
    height: 100%;
    
    background: url('/smallmart/website/assets/brand/full-logo.png') no-repeat;
}

/* Nav search bar */
nav .search-bar {
    width: 100%;
    max-height: 100%;

    margin: 4px 0px;

    box-sizing: border-box;
}

nav .search-bar .container {
    overflow: hidden;

    position: relative;

    padding: 0 42px 0 15px;

    width: 100%;
    height: 100%;

    background-color: var(--web-tone-5);

    border-radius: 5px;

    box-shadow: 0px 2px 0px inset var(--web-shadow-5);

    box-sizing: border-box;
}

nav .search-bar .container input {
    display: block;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
    outline: none !important;

    color: var(--text-dark);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

nav .search-bar .container input::placeholder {
    color: var(--text-dark);
    opacity: 35%;
}

/* Search icon */
nav .search-bar .container button {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    aspect-ratio: 1;

    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;
    outline: none;

    color: var(--text-dark);
    font-size: 33px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    user-select: none;

    cursor: pointer;
}

/* Nav dropdown menus */
/* Categories */
#categories-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 200px;

    padding: 14px 32px;

    background-color: var(--web-tone-2);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0px 2px 0px var(--web-shadow-2),
                0px 2px 0px inset var(--web-shadow-1);

    box-sizing: border-box;
}

#categories-dropdown .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px 40px;
    flex-wrap: wrap;
    
    width: fit-content;
    height: 100%;

    padding: 0 10px;

    box-sizing: border-box;
}

#categories-dropdown .categories a {
    gap: 5px;

    height: fit-content;

    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#categories-dropdown .categories a .material-symbols-outlined {
    font-size: 24px;
    font-weight: 300;
}

#categories-dropdown .key-categories {
    justify-content: center;
    gap: 5px;

    padding: 20px;

    background-color: var(--web-tone-3);

    border-radius: 8px;

    box-shadow: 0px 2px 0px inset var(--web-shadow-2);
}

#categories-dropdown .key-categories a {
    font-size: 24px;
    font-weight: bold;
}

#categories-dropdown .key-categories a .material-symbols-outlined {
    font-size: 28px;
    font-weight: 400;
}

/* More */
#more-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    position: absolute;
    top: 100%;

    width: 125px;

    padding: 6px 0;

    background-color: var(--web-tone-2);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0px 2px 0px var(--web-shadow-2),
                0px 2px 0px inset var(--web-shadow-1);
}

#more-dropdown a {
    width: fit-content;
    height: fit-content;

    font-size: 20px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Page header */
header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 330px;  

    background-color: var(--web-tone-5);
    background-size: cover;
    background-position: center 38%;
    background-repeat: no-repeat;

    box-sizing: border-box;
}
:has(header) {
    --header-height: 330px;
}

header.small {
    height: 200px
}
:has(header.small) {
    --header-height: 200px;
}

header .bg-colour {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    opacity: 30%;
}

header h1.title {
    z-index: 1;

    width: fit-content;
    height: fit-content;
    min-height: 74px;

    margin: 0;
    padding: 0 14px;

    background-color: #F6F6F6;

    border-radius: 10px;

    box-shadow: 0px 5px 0px #C4C4C4;

    color: var(--text-dark);
    font-size: 96px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Footer */
footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;
    align-items: center;

    position: sticky;
    top: 100%;

    width: 100%;
    height: 131px;

    padding-top: 36px;

    background-color: var(--web-shadow-1);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: var(--text-light);

    box-sizing: border-box;
}

footer a {
    width: fit-content;
    height: fit-content;

    margin: 0;

    color: var(--text-light);
    font-size: 16px;
    text-decoration: none;
    text-align: center;

    cursor: pointer;
}

footer p {
    width: fit-content;
    height: fit-content;

    margin: 0;

    font-size: 11px;
    text-align: center;
}

#back-to-top {
    position: absolute;
    top: -5px;

    width: calc(100% - 185px - 185px);
    max-width: 1360px;
    height: 36px;

    margin: 0;
    padding: 0;

    background-color: var(--web-tone-2);

    box-shadow: 0px 5px 0px var(--web-shadow-2);

    border: none;
    border-radius: 5px;

    color: var(--text-light);
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;

    box-sizing: border-box;
}

/* Hidden 'back-to-top' footer */
footer:has(#back-to-top.hidden) {
    height: 95px;

    padding-top: 0;
}

:has(footer #back-to-top.hidden) {
    --footer-height: 95px;
}

/* Main rows */
main {
    position: relative;
}

/* Product item */
.product {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;

    min-width: 230px;
    min-height: 250px;

    padding-top: 12px;

    box-sizing: border-box;

    cursor: pointer;
}

.product * {
    user-select: none;
}

.product .image-container {
    z-index: 1;

    height: 172px;

    margin: 0 12px -100px 12px;
    padding: 5px;

    background-color: var(--web-tone-5);
    
    border-radius: 3px;

    box-shadow: 0px 2px 0px var(--web-shadow-5);

    box-sizing: border-box;
}

.product .image-container .image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 3px;
}

.product .details {
    flex: 1;

    position: relative;

    min-height: 62px;

    padding-top: 100px;

    background-color: var(--web-tone-4);
    border-radius: 5px;
    box-shadow: 0px 5px 0px var(--web-shadow-4);

    /* box-sizing: border-box; */
}

/* Product name and price */
.product .details .title {
    display: flex;
    justify-content: space-between;

    margin: 5px 12px 0 12px;
}

/* Product name */
.product .details .title h1 {
    margin: 0 10px 0 0;

    font-size: 16px;
    font-weight: 700;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    box-sizing: border-box;
}

/* Product price */
.product .details .title h2 {
    z-index: 1;

    position: relative;

    margin: 0;

    height: min-content;

    font-size: 15px;
    font-weight: 400;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Original price in discounted product */
.product .details .title h2 span.og-price {
    z-index: -1;

    position: absolute;
    bottom: 75%;
    right: 80%;

    opacity: 50%;

    color: var(--text-dark);
    font-size: 10px;
}

.product .details .title h2 span.og-price::before {
    content: "";
    position: absolute;

    left: 0;
    top: 50%;
    bottom: 50%;

    transform-origin: center;
    transform: rotate(-20deg);

    background-color: var(--text-dark);

    width: 100%;
    height: 1px;
}

/* Discounted price */
.product .details .title h2:has(span.og-price) {
    top: 2px;

    color: var(--text-discount);
    font-weight: 700;
}

/* Product rating and favourite button */
.product .details .bottom {
    display: flex;
    justify-content: space-between;

    margin: 0 12px 9px 12px;

}

.product .details .rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product .details .rating p {
    margin: 0 0 0 4px;

    font-size: 15px;

    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

/* Stars */
.rating .star {
    position: relative;

    filter: drop-shadow(0px 1px 0px var(--text-shadow-thin));
}

.rating .star-fill {
    position: absolute;
    left: 0;
    top: 0;

    font-variation-settings: 'FILL' 1;
}

.product .details .rating span {
    font-size: 20px;
}

.product .details .bottom button.favourite {
    margin: 0;
    padding: 3px;
    
    background-color: var(--web-tone-2);

    border: none;
    border-radius: 5px;

    box-shadow: 0px 2px 0px var(--web-shadow-2);

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    cursor: pointer;
}

/* Top bar directly beneath header */
.grid-spacer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    padding: 0 238px;

    background-color: var(--web-tone-1);

    box-shadow: 0px 2px 0px var(--web-shadow-1);

    color: var(--text-light);
    font-size: 16px;

    box-sizing: border-box;
}

/* Counters in spacer */
.grid-spacer .numbers {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* Sort by container */
.grid-spacer .sort-by {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

/* Hyperlinks */
p a {
    color: #1BBBFF;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

p a:visited {
    color: #670edb;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

p a:active {
    color: #116be2;
    text-decoration: underline;
    font-weight: 700;

    cursor: pointer;
}

/* Responsiveness */

/* Tablet */
@media screen and (max-width: 1280px) {
    /* Navigation bar */
    :root {
        --nav-height: 60px;
    }

    nav a {
        font-size: 32px;
    }

    nav a.logo {
        height: 60px;
        min-width: 60px;
        background-image: url('/smallmart/website/assets/brand/small-logo.png');
    }

    nav a .material-symbols-outlined {
        font-size: 50px;
    }

    /* Wishlist button */
    nav a.wishlist span:not(.material-symbols-outlined) {
        display: none;
    }

    /* Search bar */
    nav .search-bar .container input {
        font-size: 32px;
    }

    nav .search-bar .container button {
        font-size: 42px;
    }

    /* Categories dropdown menu */
    #categories-dropdown .categories a {
        font-size: 24px;
    }

    #categories-dropdown .categories a .material-symbols-outlined {
        font-size: 29px;
    }

    #categories-dropdown .key-categories a {
        height: 29px;
        
        font-size: 28px;
    }

    #categories-dropdown .key-categories a .material-symbols-outlined {
        font-size: 34px;
    }

    /* More dropdown */
    #more-dropdown {
        width: 165px;
    }

    #more-dropdown a {
        font-size: 28px;
    }

    /* Footer */
    footer {
        gap: 1px;

        padding-top: 45px;
    }

    footer a {
        font-size: 24px;
    }

    footer p {
        font-size: 13px;
    }

    #back-to-top {
        height: 45px;
        font-size: 32px;
    }
}

@media screen and (max-width: 1100px) {
    /* Navigation bar */
    /* Log in button */
    nav a.account span:not(.material-symbols-outlined) {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    /* Navigation bar */
    nav a.burger-button {
        display: inherit;
    }

    /* Burger menu */
    .burger-menu:not(.hidden) {
        display: block !important;
    }

    body:has(.burger-menu:not(.hidden)) {
        overflow: hidden;
    }

    /* Dropdown menus */
    nav a.dropdown[data-dropdown-id='more-dropdown'] {
        display: none;
    }

    #more-dropdown {
        display: none !important;
    }

    #nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-more-dropdown'],
    #nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-more-dropdown'] + .divider,
    #mobile-more-dropdown,
    #mobile-more-dropdown + .divider {
        display: flex;
    }
}

@media screen and (max-width: 850px) {
    /* Navigation bar */

    /* Dropdown menus */
    nav a.dropdown[data-dropdown-id='categories-dropdown'] {
        display: none;
    }

    #categories-dropdown {
        display: none !important;
    }

    #nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-categories-dropdown'],
    #nav-burger-menu .container .burger-contents a.dropdown[data-dropdown-id='mobile-categories-dropdown'] + .divider,
    #mobile-categories-dropdown,
    #mobile-categories-dropdown + .divider {
        display: flex;
    }

    /* Footer */
    #back-to-top {
        width: 100%;

        border-radius: 0;
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    /* Navigation bar */
    nav {
        padding: 0 10px;
    }

    /* Footer */
    footer {
        gap: 2px;

        padding-top: 24px;
    }

    footer a {
        font-size: 32px;
    }

    #back-to-top {
        top: -24px;

        font-size: 36px;
    }
}