/* Product page */
.product-page {
    display: flex;
    flex-direction: column;

    padding: 56px 25px 25px 25px;
    padding-top: 56px;

    box-sizing: border-box;
}

.product-page .main-container {
    width: 100%;
    max-width: 1460px;

    margin: 0 auto;

    box-sizing: border-box;
}

.product-page .divider {
    height: 3px;
    max-height: 3px;

    margin: 33px 0;

    background-color: var(--text-light);
    box-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.product-page .container {
    display: flex;
    gap: 32px;

    box-sizing: border-box;
}

/* Product details */
.product-page .container .product-info {
    width: 500px;
    height: fit-content;
    
    padding: 15px;

    background-color: var(--web-tone-6);
    box-shadow: 0px 6px 0px inset var(--web-shadow-3);
    border-radius: 10px;

    color: var(--text-light);

    box-sizing: border-box;
}

/* Product name */
.product-page .product-info h1 {
    margin: 0 0 3px 0;
    font-size: 48px;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
}

/* Product star rating */
.product-page .product-info .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 12px;
}

.product-page .product-info .rating .star {
    filter: drop-shadow(0px 2px 0px var(--text-shadow-thin));
}

.product-page .product-info .rating .star * {
    font-size: 40px;
}

.product-page .product-info .rating p {
    margin: 0 0 0 10px;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Product price */
.product-page .product-info h2 {
    position: relative;

    margin: 0;

    font-size: 32px;
    font-weight: normal;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Original price in discounted product */
.product-page .product-info h2:has(span.og-price) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-page .product-info h2 span.og-price {
    position: relative;

    opacity: 50%;

    color: var(--text-light);
    font-size: 24px;
    font-weight: normal;
}

.product-page .product-info h2 span.og-price::before {
    content: "";
    position: absolute;

    left: -5%;
    top: 45%;
    bottom: 50%;

    width: 110%;
    height: 2px;

    transform-origin: center;
    transform: rotate(-25deg);

    background-color: var(--text-light);
    box-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Discounted price */
.product-page .product-info h2:has(span.og-price) {
    color: var(--text-discount-light);
    font-weight: 700;
}

/* Product variants */
.product-page .product-info .variants {
    margin: 15px 5px 20px 5px;
}

.product-page .product-info .variants h3 {
    margin: 0;

    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.product-page .product-info .variants .variants-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    position: relative;

    margin-top: 11px;
}

.product-page .product-info .variants .variants-grid a {
    position: relative;

    margin: 0;
    padding: 3px 6px;

    background-color: var(--web-tone-3);
    box-shadow: 0px 3px 0px var(--web-shadow-3);
    border: none;
    border-radius: 10px;

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    text-decoration: none;

    user-select: none;
    cursor: pointer;
}

.product-page .product-info .variants .variants-grid a.selected {
    top: 2px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 1px 0px var(--web-shadow-2);
}

/* Add to wishlist button */
.product-page .product-info .add-to-wishlist {
    display: flex;
    align-items: center;
    gap: 4px;

    height: 36px;

    margin-top: 10px;
    padding: 4px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 3px 0px var(--web-shadow-2);
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    font-size: 24px;
    text-shadow: 0px 1px 0px var(--text-shadow-thin);

    user-select: none;
    cursor: pointer;
}

.product-page .product-info .add-to-wishlist .material-symbols-outlined {
    font-size: 28px;
}

/* Product info divider */
.product-page .product-info .divider {
    margin: 14px 0;
}

/* Product description */
.product-page .product-info p {
    margin: 0;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Product images */
.product-page .container .images {
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 32px;
}

.product-page .container .images button {
    margin: 0;
    padding: 10px;

    box-shadow: 0px 6px 0px var(--web-shadow-5);

    border: none;
    border-radius: 10px;

    user-select: none;
    cursor: pointer;
}

.product-page .container .images .main-image-container {
    max-height: 666px;

    grid-column: span 3;
}

.product-page .container .images .image-container {
    max-height: 240px;
}

.product-page .container .images .image {
    max-width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 8px;
}

/* Reviews */
#reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 15px;

    box-sizing: border-box;
}

#reviews h1.title {
    margin: 0;

    color: var(--text-light);
    font-size: 48px;
    text-shadow: 0px 3px 0px var(--text-shadow-thin);
}

/* Individual review */
#reviews .review {
    display: flex;
    flex-direction: column;

    padding: 15px;

    background-color: var(--web-tone-4);
    border-radius: 10px;

    color: var(--text-dark);
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    
    box-shadow: 0px 4px 0px var(--web-shadow-4);
    box-sizing: border-box;
}

/* Review title */
#reviews .review div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reviews .review div.title h1 {
    margin: 0;

    font-size: 40px;
}

/* Published date */
#reviews .review div.title h2 {
    margin: 0;

    font-size: 20px;
    font-weight: normal;
}

/* Review star rating */
#reviews .review .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 6px;

    text-shadow: none;
}

#reviews .review .rating .star {
    filter: drop-shadow(0px 2px 0px var(--text-shadow-thin));
}

#reviews .review .rating .star * {
    font-size: 35px;
}

#reviews .review .rating p {
    margin: 0 0 0 7px;

    font-size: 24px;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

/* Review divider */
#reviews .review .divider {
    margin: 14px 0;

    background-color: var(--text-dark);
}

/* Review text */
#reviews .review .review-text {
    margin: 0 0 10px 0;

    font-size: 24px;
}

/* Reviewer */
#reviews .review .reviewer {
    margin: 0;

    font-size: 24px;
    font-weight: 700;
}

/* 'Load more reviews' button */
#load-more-reviews {
    margin: 0 auto;
    padding: 4px 10px;

    background-color: var(--web-tone-2);
    box-shadow: 0px 5px 0px var(--web-shadow-2);
    
    border: none;
    border-radius: 5px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
}

/* No reviews to show */
#no-reviews {
    width: 100%;

    margin: 0;
    padding: 10px 20px;

    background-color: var(--web-tone-4);
    box-shadow: 0px 4px 0px var(--web-shadow-4);
    border-radius: 10px;

    color: var(--text-dark);
    text-align: center;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
    font-weight: normal;

    box-sizing: border-box;
}

/* Related products */
.related-products {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 7px;
}

.related-products .row-title {
    margin: 0 9px;

    color: var(--text-light);
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 2px 0px var(--text-shadow-thin);
}

.related-products .products-container {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    gap: 12px;
    /* gap: 12px 34px; */
    justify-content: space-between;

    margin: 0 30px;

    box-sizing: border-box;
}

/* Product image viewer */
#image-viewer {
    z-index: 5;

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: var(--nav-height);
    
    width: 100%;
    height: calc(100vh - var(--nav-height));

    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(10px);
}

#image-viewer .close {
    display: flex;
    justify-content: flex-end;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

#image-viewer .close button {
    margin: 10px 10px 10px 10px;
    padding: 5px;

    width: fit-content;

    background-color: var(--web-tone-2);
    box-shadow: 0px 5px 0px var(--web-shadow-2);
    border: none;
    border-radius: 100%;
    
    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
    font-size: 50px;

    user-select: none;
    cursor: pointer;
}

/* Main image */
#viewer-main-image {
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100% - 180px - 80px);

    background-color: rgba(0, 0, 0, 0.8);

    /* overflow: hidden; */
}

#viewer-main-image img {

    max-width: 100%;
    max-height: 100%;

    cursor: zoom-in;

    transition: transform .2s ease-in-out;
}

/* Other images available to view */
#viewer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 180px;

    padding: 30px 0 25px 0;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    box-sizing: border-box;
}

/* Counter / scroll buttons */
#viewer-images .counter {
    position: absolute;
    top: 0;

    margin-top: 3px;

    color: var(--text-light);
    text-shadow: 0px 1px 0px var(--text-shadow-thin);
}

#viewer-images .counter p {
    margin: 0;

    font-size: 20px;
}

/* Items */
#viewer-images button {
    aspect-ratio: 1;
    height: 100%;

    position: relative;

    margin: 0;
    padding: 5px;

    box-shadow: 0px 6px 0px var(--web-shadow-5);

    border: none;
    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}

#viewer-images button .image {
    max-width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;
}

#viewer-images button.selected {
    top: 4px;

    box-shadow: 0px 2px 0px var(--web-shadow-5);
}

/* Responsiveness */
@media screen and (max-width: 1350px) {
    .related-products .products-container {
        margin: 0;
    }
}

/* Tablet */
@media screen and (max-width: 1280px) {
    /* Product main container */
    main.product-page {
        padding-top: 46px;
    }

    /* Product images */
    main.product-page .images {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    main.product-page .images .main-image-container {
        grid-column: span 2 !important;
    }

    /* Related products */
    .related-products .products-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 1050px) {
    /* Related products */
    .related-products .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    /* Main products container */
    .product-page .main-container .container {
        flex-direction: column;
        gap: 26px;
    }

    /* Product images */
    main.product-page .images {
        gap: 32px 40px !important;
    }

    main.product-page .images .main-image-container {
        max-height: 500px !important;

        margin: 0;
    }

    .main-container .container .images .image-container {
        max-height: 250px;
    }

    /* Product information */
    main.product-page .product-info {
        width: calc(100% - 20px) !important;

        margin: 0 10px;
    }

    /* Product name */
    main.product-page .product-info h1 {
        font-size: 64px;
    }

    /* Product star rating */
    main.product-page .product-info .rating {
        margin-bottom: 10px;
    }

    main.product-page .product-info .rating .star span {
        font-size: 50px;
    }

    main.product-page .product-info .rating p {
        font-size: 32px;
    }

    /* Product price */
    main.product-page .product-info h2 {
        font-size: 40px;
    }

    /* Discounted price */
    .product-page .product-info h2 span.og-price {
        font-size: 28px;
    }

    /* Add to wishlist button */
    main.product-page .product-info .add-to-wishlist {
        height: 50px;

        padding-right: 7px;

        font-size: 40px;
    }

    main.product-page .product-info .add-to-wishlist span.material-symbols-outlined {
        font-size: 42px;
    }
    
    /* Product description */
    .product-page .product-info p {
        font-size: 28px;
    }

    /* Product variants */
    .product-page .product-info .variants h3 {
        font-size: 44px;
    }

    .product-page .product-info .variants .variants-grid {
        margin-top: 8px;
    }

    .product-page .product-info .variants .variants-grid a {
        font-size: 32px;
    }

    /* Product reviews */
    #reviews .review .rating .star * {
        font-size: 40px;
    }

    #reviews .review .rating p {
        font-size: 30px;
    }

    #reviews .review .review-text {
        font-size: 28px;
    }

    /* Load more reviews button */
    #load-more-reviews {
        font-size: 48px;
    }
}

@media screen and (max-width: 800px) {
    /* Related products */
    .related-products .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    main.product-page {
        padding-bottom: 44px;
    }
}

@media screen and (max-width: 550px) {
    /* Product images */
    main.product-page .images {
        grid-template-columns: 1fr !important;
    }

    main.product-page .images .main-image-container {
        grid-column: span 1 !important;
    }

    /* Related products */
    .related-products .products-container {
        grid-template-columns: 1fr;
    }
}